form {
  display: flex;
  justify-content: center;

  margin-top: 5%;
}

.fieldset_tipo1 {
  background: #020024;
  background: linear-gradient(
    335deg,
    rgb(100, 100, 100) 0%,
    rgba(190, 190, 190, 1) 100%
  );
  text-align: center;
  width: 42%;
}
body {
  background: #a1a1a1;
  background: linear-gradient(
    270deg,
    rgba(161, 161, 161, 1) 30%,
    rgba(255, 255, 255, 1) 94%
  );
}
input,
button {
  background: #020024;
  background: linear-gradient(
    45deg,
    rgb(160, 160, 160) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  border: solid 2px;
}
legend {
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
}
dialog {
  background: #020024;
  background: linear-gradient(
    335deg,
    rgb(100, 100, 100) 0%,
    rgba(190, 190, 190, 1) 100%
  );
}
.fieldset_tipo2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
